@import "./globals/base";
@import "./modules/base";

body {
  background-color: #f1f1f1;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
  border-left: 3px solid #f36d33;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 13.5rem;
}

.horizontal-bar {
  display: block;
  height: 0.575rem;
  margin: 1.5rem 0;
  width: 4.5rem;
  background-color: #fb5b04;
}

.img-container {
  min-height: 100px;
  width: 100%;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .img-container {
    margin-bottom: 30px;
  }

  .img-container img {
    display: block;
    max-height: 600px;
    max-width: 600px;
  }
}

.img-container img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  object-position: 0 0;
}

pre code {
  background: rgb(31, 31, 31);
  border: 1px solid #ddd;
  color: white;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  box-shadow: 0px 1px 2px 1px #d8d8d8;
  font-family: "Courier New", Courier, monospace;
}
.token {
  font-family: "Courier New", Courier, monospace;
}
pre code > * {
  font-family: "Courier New", Courier, monospace !important;
}

code {
  font-family: "Courier New", Courier, monospace !important;
  box-shadow: 0px 1px 2px 1px #d8d8d8;
}

.video {
  margin: 20px 0;
}
