@import url("/css/normalize.css");
@import url("/css/skeleton.css");
@import url("/css/fonts.css");
@import url("/css/footer.css");
@import url("/css/pagination.css");
@import url("/css/blog-card.css");
@import url("/css/prism.css");

body {
  background-color: #f1f1f1;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
  border-left: 3px solid #f36d33;
}

.home {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-bar {
  display: block;
  height: 0.575rem;
  margin: 1.5rem 0;
  width: 4.5rem;
  background-color: #fb5b04;
}

.img-container {
  width: 100%;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .img-container img {
    display: block;
    margin: 0 auto;
    max-height: 600px;
  }
}

.img-container img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  object-position: 0 0;
}

pre code {
  background: rgb(31, 31, 31);
  border: 1px solid #ddd;
  color: white;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  box-shadow: 0px 1px 2px 1px #d8d8d8;
  font-family: "Courier New", Courier, monospace;
}
.token {
  font-family: "Courier New", Courier, monospace;
}
pre code > * {
  font-family: "Courier New", Courier, monospace !important;
}

code {
  font-family: "Courier New", Courier, monospace !important;
  box-shadow: 0px 1px 2px 1px #d8d8d8;
}
