{{ if and (.IsPage) (eq .Section "blog") }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Fallenstedt" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
  {{ if .Params.cover }}
  <meta name="twitter:image" content="{{.Params.cover}}" />
  {{ end }}
{{ end }}

<!-- JSON-LD -->
<script type="application/ld+json">
  {{ if and (.IsPage) (eq .Section "blog") }}
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ .Description }}",
      "inLanguage" : "en-US",
      "author" : "Alex Fallenstedt",
      "creator" : "Alex Fallenstedt",
      "publisher": "Alex Fallenstedt",
      "accountablePerson" : "Alex Fallenstedt",
      "copyrightHolder" : "Alex Fallenstedt",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "keywords" : [{{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}", {{ end }}{{ end }}"Blog"]
    }
  {{ else }}
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "author": {
        "@type": "Person",
        "name": "Alex Fallenstedt"
      },
      "description": "{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"
    }
  {{ end }}
  </script>

