<div class="about-container">
  <div class="container about-container__content">
    <h1><span class="about-container__bg-span">About</span></h1>
    <div class="about-container__image-containerized">
      <img src="/assets/img/fallenstedt.png" alt="Alex fallenstedt self portrait">
    </div>
    <p class="half-width">
      Alex is a Creative Technologist at EY. He works with various web technologies to create business intelligence tools, websites, and web apps. 
      In the past he has photographed weddings and for a Portland magazine.
    </p>
    <div class="horizontal-bar"></div>
    <p class="headline half-width">
      He uses a scoop of JavaScript in his coffee every morning. He also does photography.
    </p>
  </div>
  <div class="about-container__image">
    <img src="/assets/img/fallenstedt.png" alt="Alex fallenstedt self portrait">
  </div>
</div>