<div class="about-container">
  <div class="container about-container__content top-fade-out">
    <h1>About Alex</h1>
    <h4>Developer & Photographer</h4>
    <p>Alex is a Creative Technologist at EY. He works with various web technologies to create business intelligence tools, websites, and web apps.</p>
    <p>In the past he has photographed weddings around Oregon and products for Portland companies.</p>
  </div>
  <div class="about-container__image">
    <app-image-transition
      image1="/assets/img/cat1.png"
      image2="/assets/img/cat2.png">
    </app-image-transition>
</div>