@import "~app/app.variables.scss";

.about-container {
  padding-top: $navHeight * 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
  }
  &__image {
    width: 100%;
    height: 100vw;
    & app-image-transition {
      height: inherit;
      width: inherit;
    }
  }
}
