footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 6.5rem;
}
.footer-contact p {
  line-height: 0;
  font-size: 12px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.social-icon {
  font-size: 1.2em;
  padding: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 6.5rem; /* Footer height */
}
