footer {
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  height: 6.5rem;

  @media (max-width: 889px) {
    width: auto;
    flex-direction: column;
  }
}

.footer-contact p,
.footer-tweet p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.footer-tweet {
  padding-bottom: 50px;
  p {
    max-width: 450px;
  }
}

.footer-icons {
  display: flex;
}
.social-icon {
  font-size: 1.2em;
  padding: 10px;

  &:nth-child(1) {
    padding-left: 0 !important;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  height: 6.5rem; /* Footer height */
}
