.gallery {
  &-img {
    border: 2px solid red;
    min-height: 100px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &-overlay {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
  }
}
