.gallery-container {
  height: 200px;
  margin-bottom: 10px;

  @media (min-width: 740px) {
    height: 400px;
  }
}

.gallery-img-container {
  height: 200px;

  @media (min-width: 740px) {
    height: 400px;
  }
  img {
    height: inherit;
    width: 100%;
    object-fit: contain;
  }
}

.gallery-nav {
  max-width: 80%;

  .gallery-nav-item {
    img {
      height: 80px;
      margin: 0 auto;
    }
  }
}

.slick-dots li {
  color: #222222;
}
