.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;

  .tag {
    margin-bottom: 0;
    margin-right: 5px;
    list-style-type: none;
    font-size: 14px;
    background: #fb5b04;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
