*,
a {
  font-weight: 400;
  line-height: 38.4px;
  color: rgb(51, 51, 51);
  font-family: Georgia, "Times New Roman", serif;
}

a:hover {
  color: #fb5b04;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p,
.pagination > .page-item > .page-link {
  font-size: 18px;
}
