//zindex
$overlayZ: 3;
$overlayHome: 2;

//color
$charcoal: #121212;
$tomatoRed: #c1533d;
$spoiledTomato: #913d2c;
$navHeight: 80px;
$breakpoints: (
  sm: "480px",
  md: "720px",
  lg: "1080px"
);

//anims
.top-fade-out {
  animation-name: topFadeOut;
  animation-duration: 1s;
}

@keyframes topFadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
