.app-logo {
  height: 50px;
  width: 200px;
  transition: all 0.6s;
  margin: 10px 0 0 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/img/alex-fallenstedt-logo.png");
  cursor: pointer;
  &__white-logo {
    background-image: url("/assets/img/alex-fallenstedt-logo-white.png");
    cursor: inherit;
  }
}
