//zindex
$overlayZ: 3;
$overlayHome: 2;
$overlayNav: 4;

//color
$charcoal: #121212;
$dandruff: #9e9e9e;
$ash: #5d5656;
$tomatoRed: #fb5b04;
$spoiledTomato: #fd3a08;
$navHeight: 80px;

//variables
$h1-font-sizes: (
  null: (
    8vw,
    1
  ),
  small: 55px,
  medium: 65px,
  large: 8vw
);

$h2-font-sizes: (
  null: (
    10vw,
    1
  ),
  small: 10vw,
  medium: 8vw,
  large: 5vw
);

$h3-font-sizes: (
  null: (
    9vw,
    1
  ),
  small: 8vw,
  medium: 4vw,
  large: 3vw
);

$p-font-sizes: (
  null: (
    19px,
    1.5
  ),
  small: 17px,
  medium: (
    20px,
    1.7
  ),
  large: 21px
);

$breakpoints: (
  small: 480px,
  medium: 700px,
  large: 1024px
);

//functions
// Default font size set by browsers 16px
$browser-context: 16;

// Calculates the rem value so it can be applied everywhere;
//
// @param an integer font size in px
// @param an integer reference size in px
// @return a string with rem unit.
//
@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

//mixins
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    } @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == 'list' {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  } @else {
    font-size: $fs-font-size;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

//fonts
h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
h3 {
  @include font-size($h3-font-sizes);
}

p {
  @include font-size($p-font-sizes);
  color: $ash;
}

//globals
h1,
h2 {
  font-weight: 900;
}

a {
  color: $tomatoRed;
  &:hover {
    color: $spoiledTomato;
  }
}

.horizontal-bar {
  display: block;
  height: 0.575rem;
  margin-bottom: 1.5rem;
  width: 4.5rem;
  background-color: $tomatoRed;
}

.half-width {
  @media screen and (min-width: map-get($breakpoints, large)) {
    width: 50%;
  }
}

.headline {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.25rem;
  letter-spacing: -0.025rem;
}

::selection {
  background: $tomatoRed; /* WebKit/Blink Browsers */
  color: white;
}
