@import "~app/app.variables.scss";
@import "~app/app.mixins.scss";
.app-overlay {
  pointer-events: all;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: $overlayZ;
  height: 0;
  width: 0;
  background-color: $charcoal;
  transition: all 0.4s;
  border-radius: 50%;
  border: 0px solid transparent;
  &__open {
    border: 150vw solid $charcoal;
    width: 200vw;
    height: 100vh;
    display: block;
    top: -100vh;
    right: -150vw;

    @include breakpoint(map-get($breakpoints, "md")) {
      width: 100vw;
      height: 200vh;
    }
  }
}
