@import "~app/app.variables.scss";
.app-overlay {
  pointer-events: all;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $overlayZ;
  height: 0;
  width: 0;
  background-color: $charcoal;
  transition: all 0.4s;
  border-radius: 50%;
  border: 0px solid transparent;
  &__open {
    border: 150vw solid $charcoal;
    width: 100vw;
    height: 100vh;
    display: block;
    top: -100vh;
    right: -150vw;
  }
}
