<footer>
  <div class="footer-contact">
    <p>{{.Site.Title}}</p>
    <p>{{.Site.Params.Email}}</p>
  </div>
  <div class="footer-icons">
    <a class="social-icon" target="_blank" href="https://github.com/fallenstedt">
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
    <a class="social-icon"
      target="_blank"
      href="https://www.linkedin.com/in/alexfallenstedt">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
    </a>
    <a class="social-icon" target="_blank" href="https://500px.com/alexanderfallenstedt">
      <i class="fab fa-500px" aria-hidden="true"></i>
    </a>
    <a class="social-icon" target="_blank" href="https://twitter.com/fallenstedt">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="social-icon" target="_blank" href="https://dev.to/fallenstedt">
      <i class="fab fa-dev"></i>
    </a>
  </div>
</footer>
<script src="{{ "main.js" | relURL }}"></script>