<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Todo add description to each page -->
    <!-- https://github.com/harrycresswell/harry/blob/master/site/layouts/partials/head.html -->
    
    <!-- Primary Meta Tags -->
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="
    {{if .Page.Description}}
        {{ .Page.Description }}
    {{else}}
        Alex Fallenstedt is a software engineer who strives for test-driven development, translating business requirements into technical requirements, and an agile based development model.
    {{end}}
    ">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}"/> 
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/54a09d830f.js"></script>
</head>