<nav class="nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/code">Code</a>
    </li>
    <li>
      <a href="/photos">Photos</a>
    </li>
    <li>
      <a href="/blog">Blog</a>  
    </li>
  </ul>
</nav>
<button id="nav-open" class="nav-open">&#9776;</button>

<nav class="nav-mobile hide" id="nav-mobile">
  <button id="nav-close" class="nav-close">&#x2717;</button>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/code">Code</a>
    </li>
    <li>
      <a href="/photos">Photos</a>
    </li>
    <li>
      <a href="/blog">Blog</a>  
    </li>
  </ul>
</nav>