
<nav>
  <div>
    <a href="/">
      <div class="logo">
        <img src="/img/alex-fallenstedt-logo.png" alt="Alex Fallenstedt">
      </div>
    </a>  
  </div>
  <button class="nav-button">&#9776;</button>

  <div class="nav-desktop">
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>  
      </li>
      <li>
        <a href="/photos">Photos</a>  
      </li>
    </ul>
  </div>

  <div class="nav-overlay hide">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      </li>
      <li>
        <a href="/blog">Blog</a>  
      </li>
      <li>
        <a href="/photos">Photos</a>  
      </li>
    </ul>
  </div>
</nav>