@import "~app/app.variables.scss";
.grid {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
  padding-top: $navHeight;
  &__item {
    display: block;
    height: 100vw;
    width: 100%;
    &-img {
      height: 100%;
      & > img {
        display: none;
      }
    }
  }
}

.loader {
  width: inherit;
  height: inherit;
  background-color: red;
  z-index: 2000;
}
