.app-grid {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
  &__item {
    border: 2px solid red;
    display: block;
    height: 100vw;
    width: 100%;
    &-img {
      height: 100%;
      & > img {
        display: none;
      }
    }
  }
}
