@import "~app/app.variables.scss";
.app-nav {
  &__fixed {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: $overlayZ + 1;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
  }
  &__overlay {
    position: fixed;
    top: 0;
    z-index: $overlayZ;
    height: 0;
    width: 100%;
    background-color: $overlayGrey;
    transition: all 0.5s;
    &__open {
      height: 100vh;
    }
  }
}
