@import "~app/app.variables.scss";
.app-nav {
  &__fixed {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: $overlayZ + 1;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
  }
  &__no-events {
    pointer-events: none;
  }
}
