<nav class="app-nav"
[class.app-nav__no-events]="isNavOpen">

<div class="app-nav__fixed">
  <div class="app-nav__controls">
        <app-logo
          [isNavOpen]="isNavOpen"
          (logoClickEmitter)="navigateHome()">
        </app-logo>
        <app-burger
          [isNavOpen]="isNavOpen"
          (burgerClickEmitter)="toggleNav($event)">
        </app-burger>
      </div>
    </div>
    <app-overlay
    (overlayClickEmitter)="toggleNav($event)"
    [isNavOpen]="isNavOpen"></app-overlay>
</nav>