.app-home {
  overflow: hidden;
  margin: 10px;
  &__scene-container {
    width: inherit;
    height: inherit;
    overflow: hidden;
  }
  &__scene {
    border-radius: 3px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    // width: inherit !important;
  }
}
