/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/normalize.css";
@import "./assets/styles/skeleton.css";
@import "~app/app.variables.scss";
@import url("https://fonts.googleapis.com/css?family=Gaegu");
* {
  font-family: "Gaegu", "Times New Roman", Times, serif;
}

a {
  color: $tomatoRed;
  &:hover {
    color: $spoiledTomato;
  }
}
