@import "~app/app.variables.scss";
$bar-width: 24px;
$bar-height: 2px;

.app-burger {
  padding: 5px;
  margin-right: 40px;
  transform-origin: center center;
  transform: rotate(180deg);
  cursor: pointer;

  &:hover {
    span,
    span:nth-child(2),
    span:nth-child(3) {
      transition-delay: 0s;
      width: $bar-width;
    }
  }
  span {
    transition: all 0.2s;
    transition-delay: 0.1s;
    display: block;
    width: $bar-width;
    height: $bar-height;
    border-radius: 50px;
    margin-bottom: 6px;
    background-color: $tomatoRed;
    &:nth-child(2) {
      width: 18px;
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      width: 10px;
      transition-delay: 0.3s;
    }
  }
  &__hide-burger {
    pointer-events: none;
    > span,
    span:nth-child(2),
    span:nth-child(3) {
      width: 0;
      // height: 0;
    }
  }
}
